# Timer in milliseconds
TIMER = 300000 # 5 minutes
# Tracking numbers
PACKAGES = 'LPXXXXXXXXXXXX1,LPXXXXXXXXXXXX2,LPXXXXXXXXXXXX3'
# Email address to send notifications to
RECIPIENT_EMAILS = 'emailto1@example.com,emailto2@example.com'
# Email address to send notifications from
EMAIL_FROM = 'emailfrom@example.com'
# Email remitent name
EMAIL_FROM_NAME = 'Your name'
# Email address host
EMAIL_HOST = 'smtp.gmail.com'
# Email address port
EMAIL_PORT = 587
# Email address password
EMAIL_PASSWORD = 'myemailpassword'